.container{
  
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  border: 2px solid lightgray;
  padding-bottom: 40px;
}



.circle{

border: 1px solid red;
border-radius: 100%;

width: 100px;
height: 100px;
margin: 20px;
padding-left: 10px;
padding-right: 10px;


 
}


button{
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
  height: 30px;
  border: none;
 background: red;
}

img{
  
  width: 50px;
  height: 50px;
  cursor: pointer;
  
  
}



.like_pic{

  margin-top: 50px;
  margin-left: 10px;
  
}

.banner{
  
  
  
  margin-top: 60px;
  margin-left: 20px;

  
}

.bell{

  margin-top: 50px;
  margin-left: 10px;

}

